.about-me-page {
  margin: 4% 10%;
}

.about-me-h1 {
  border-bottom: 1px solid black;
  width: 200px;
  padding-bottom: 12px;
  letter-spacing: 1px;
  font-size: 36px;
}

.about-me-links {
  margin: 5% 1%;
  width: 700px;
  display: flex;
  /* flex-flow: row wrap; */
  height: 200px;
  max-height: 200px;
  justify-content: flex-start;
  align-items: flex-end;
}

.about-me-img {
  width: 200px;
  border-radius: 50%;
}

.about-me-git-img {
  width: 100px;
  margin-bottom: 16px;
  margin-left: 20px;
}

.about-me-linked-img {
  width: 120px;
}

.about-me-p {
  line-height: 30px;
}
