/* .gallery-container:nth-child(3n+1) {
  width: 100px;
} */

.gallery-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 10;
  overflow-y: scroll;
  transition-delay: 1s;
  animation: fromDownUndah 1s ease-in-out;
  animation-delay: 0s;
  animation-duration: .4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.gallery-container::-webkit-scrollbar { width: 0 !important }

.close-gallery-container {
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 33px;
  margin-top: 33px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  position: relative;
  padding: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.close-gallery-container:hover {
  background-color: #fafafa;
}
.close-gallery {
  background-image: url(https://airbodes-bucket.s3.us-west-1.amazonaws.com/4A7C0A20-57D4-4BEE-ACA5-1E9533445909_4_5005_c.jpeg);
  background-size: contain;
  width: 23px;
  height: 23px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  position: relative;
  margin: 0 !important;
}
.close-gallery:hover {
  background-image: url(https://airbodes-bucket.s3.us-west-1.amazonaws.com/4E53D90E-6519-4E26-A722-D8CE0A7BDF95_4_5005_c.jpeg);
  background-color: #fafafa;
}

.images-container {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: grid !important;
  gap: 8px !important;
  padding-top: 50px;
  padding-bottom: 50px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px 250px 500px 250px 500px 250px 500px 250px 500px 250px 500px 250px 500px 250px;
  /* grid-auto-flow: dense; */
}

.image-divs {
  overflow: hidden;
  height: 100%;
}
.gallery-images {
  height: 100%;
  object-fit: cover;
}

.gallery-images:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  width: 100%;
}
.gallery-images:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 100%;
}
.gallery-images:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 100%;
}
.gallery-images:nth-child(4) {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  width: 100%;
}
.gallery-images:nth-child(5) {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  width: 100%;
}
.gallery-images:nth-child(6) {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  width: 100%;
}
.gallery-images:nth-child(7) {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
  width: 100%;
}
.gallery-images:nth-child(8) {
  grid-row: 6 / 7;
  grid-column: 1 / 2;
  width: 100%;
}
.gallery-images:nth-child(9) {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  width: 100%;
}
.gallery-images:nth-child(10) {
  grid-row: 7 / 8;
  grid-column: 1 / 3;
  width: 100%;
}
.gallery-images:nth-child(11) {
  grid-row: 8 / 9;
  grid-column: 1 / 2;
  width: 100%;
}
.gallery-images:nth-child(12) {
  grid-row: 8 / 9;
  grid-column: 2 / 3;
  width: 100%;
}
.gallery-images:nth-child(13) {
  grid-row: 9 / 10;
  grid-column: 1 / 3;
  width: 100%;
}
.gallery-images:nth-child(14) {
  grid-row: 10 / 11;
  grid-column: 1 / 2;
  width: 100%;
}
.gallery-images:nth-child(15) {
  grid-row: 10 / 11;
  grid-column: 2 / 3;
  width: 100%;
}
.gallery-images:nth-child(16) {
  grid-row: 11 / 12;
  grid-column: 1 / 3;
  width: 100%;
}
.gallery-images:nth-child(17) {
  grid-row: 12 / 13;
  grid-column: 1 / 2;
  width: 100%;
}
.gallery-images:nth-child(18) {
  grid-row: 12 / 13;
  grid-column: 2 / 3;
  width: 100%;
}
.gallery-images:nth-child(19) {
  grid-row: 13 / 14;
  grid-column: 1 / 3;
  width: 100%;
}
.gallery-images:nth-child(20) {
  grid-row: 14 / 15;
  grid-column: 1 / 2;
  width: 100%;
}

@keyframes fromDownUndah {
  from {
    transform: translateY(800px);
  }
  to {
    transform: translateY(0px);
  }
}
