.users-reviews-page {
  margin: 4% 8%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 90%;
  overflow: hidden;
  height: calc(100vh - 40px);
}

.users-reviews-review-head {
  grid-column: 1 / 2;
  font-weight: 600;
  margin: 3% 0;
}

.users-reviews-container {
  margin: 20px 20px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.users-reviews-dig {
  background-color: rgb(241, 241, 241);
  padding: 30px;
  border-radius: 30px;
  width: 230px;
}

.users-reviews-book-again-div {
  margin-top: 5%;
  margin-right: .5%;
  font-size: 16px;
}

.users-reviews-reviews {
  background-color: rgb(255, 255, 255);
  width: 200px;
}

.users-reviews-book-again {
  margin-right: .5%;
  text-decoration: none;
  color: #f63a40;
  font-size: 16px;
}

.users-reviews-book-again:hover {
  color: #ff0008;
}

.users-reviews-dig-info {
  font-size: 18px;
}

#users-reviews-country {
  margin-bottom: 1%;
  letter-spacing: 1px;
}

#users-reviews-city-state {
  font-size: 16px;
  letter-spacing: 1px;
}

#users-reviews-title {
  margin-bottom: 3%;
}

.users-reviews-comment-container {
  margin-left: 30px;
  width: 80%;
  overflow: hidden;
  overflow-y: scroll;
}

.users-reviews-comment {
  margin-top: 3%;
  width: 50%;
  overflow-x: scroll;
  line-height: 30px;
  word-break: break-all;
}

.users-reviews-rating {
  margin-top: 3%;
}

.users-reviews-btn-div {
  margin-top: 4%;
}

.users-reviews-delete-btn {
  background-color: white;
  padding: 6px;
  width: 80px;
  margin-right: 5%;
  border-radius: 30px;
  border: thin solid 	#484848;
}

.users-reviews-delete-btn:hover {
  box-shadow: 1px 1px 4px #a1a1a1;
}

.users-reviews-edit-btn {
  background-color: white;
  padding: 6px;
  width: 80px;
  border-radius: 30px;
  border: thin solid 	#484848;
}

.users-reviews-edit-btn:hover {
  box-shadow: 1px 1px 4px #a1a1a1;
}

.edit-review-div {
  background-color: rgb(255, 255, 255);
  padding: 3%;
}

.edit-review-errors {
  background-color: #FF5A5F;
  padding: 1%;
  border-radius: 30px;
  width: 30%;
  margin-bottom: 1%;
}

.edit-review-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 80%;
  margin: auto;
}

.edit-review-label {
  margin: 10px 0;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-review-input {
  border-radius: 20px;
  padding: 6px;
  margin-left: 10px;
  width: 200px;
  font-size: 18px;
  border: 1px solid #484848;
  padding-left: 20px;
}

.edit-review-input:focus {
  outline: none;
  border: 2px solid #FF5A5F;
}

.edit-review-btns {
  margin-top: 16px;
 display: block;
 text-align: center;
}

.edit-review-submit-btn {
  background-color: white;
  padding: 6px;
  width: 80px;
  border-radius: 30px;
  margin-right: 3%;
  border: thin solid 	#484848;
}

.edit-review-submit-btn:hover {
  box-shadow: 1px 1px 4px #a1a1a1;
}

.edit-review-cancel-btn {
  background-color: white;
  padding: 6px;
  width: 80px;
  border-radius: 30px;
  border: thin solid 	#484848;
}

.edit-review-cancel-btn:hover {
  box-shadow: 1px 1px 4px #a1a1a1;
}
