.users-reviews-page {
  margin: 2% 10%;
  margin-bottom: 0;
  height: 100vh;
}
.users-reviews-page::-webkit-scrollbar { width: 0 !important }

.users-reviews-review-head {
  font-weight: 600;
  font-size: 32px;
  margin: 40px 0;
  width: 92%;
}

.users-reviews-container {
  margin: 20px 20px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;

}

.users-reviews-div-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.users-reviews-dig .dig-home-page-li {
  height: 280px;
}

.users-reviews-dig {
  width: 30%;
}

.users-reviews-book-again-div {
  margin-top: 5%;
  margin-right: .5%;
  font-size: 16px;
}

.users-reviews-reviews {
  background-color: rgb(255, 255, 255);
  width: 200px;
}

.users-reviews-book-again {
  margin-right: .5%;
  text-decoration: none;
  color: #f63a40;
  font-size: 16px;
}

.users-reviews-book-again:hover {
  color: #ff0008;
}

.users-reviews-dig-info {
  font-size: 18px;
}

#users-reviews-country {
  margin-bottom: 1%;
  letter-spacing: 1px;
}

#users-reviews-city-state {
  font-size: 16px;
  letter-spacing: 1px;
}

#users-reviews-title {
  margin-bottom: 3%;
}

.users-digs-book-again-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  width: 100% !important;
}

.users-digs-book-again-div2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  width: 92% !important;
  margin: auto;
}

.users-digs-book-again-div2 .login-btn-modal {
  height: 40px;
  width: 50%;
  margin: 0;
}

.users-reviews-comment-container {
  margin: 30px;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 16px;
}

.users-reviews-comment {
  width: 100%;
  overflow-y: scroll;
  line-height: 30px;
  word-break: break-all;
}

.users-reviews-rating {
  margin-top: 10px;
}

.users-reviews-btn-div {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  gap: 4%;
  width: 100%;
  justify-content: space-between;
}

.book-again-link {
  width: 30%;
  text-decoration: none;
  color: #ffffff;
}

.users-reviews-btn-div .login-btn-modal {
  width: 100%;
  margin: 0;
}

.users-reviews-btn-div2 {
  display: flex;
  flex-direction: row;
  gap: 4%;
}

.users-reviews-delete-btn {
  background-color: white;
  padding: 0px;
  width: 100px;
  border-radius: 8px;
  border: 1px solid rgb(27, 27, 27);
  height: 40px;
  cursor: pointer;
}

.users-reviews-delete-btn:hover {
  background-color: #f5f5f5;
}

.users-reviews-edit-btn {
  background-color: white;
  padding: 0px;
  width: 100px;
  border-radius: 8px;
  border: 1px solid rgb(27, 27, 27);
  height: 40px;
  cursor: pointer;
}

.users-reviews-edit-btn:hover {
  background-color: #f5f5f5;
}

.edit-review-div {
  background-color: rgb(255, 255, 255);
  padding: 3%;
}

.edit-review-errors {
  background-color: #FF5A5F;
  padding: 1%;
  border-radius: 30px;
  width: 30%;
  margin-bottom: 1%;
}

.edit-review-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 80%;
  margin: auto;
}

.edit-review-label {
  margin: 10px 0;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-review-input {
  border-radius: 20px;
  padding: 6px;
  margin-left: 10px;
  width: 200px;
  font-size: 18px;
  border: 1px solid #484848;
  padding-left: 20px;
}

.edit-review-input:focus {
  outline: none;
  border: 2px solid #FF5A5F;
}

.edit-review-btns {
  margin-top: 16px;
 display: block;
 text-align: center;
}

.edit-review-submit-btn {
  background-color: white;
  padding: 8px;
  width: 80px;
  border-radius: 8px;
  border: 1px solid rgb(27, 27, 27);  margin: 20px auto;
  margin-left: 30px;
  margin-bottom: 0;
}

.edit-review-submit-btn:hover {
  background-color: #f7f7f7;
}

.edit-review-cancel-btn {
  background-color: white;
  padding: 8px;
  width: 80px;
  border-radius: 8px;
  border: 1px solid rgb(27, 27, 27);  margin: 20px auto;
  margin-left: 30px;
  margin-bottom: 0;
}

.edit-review-cancel-btn:hover {
  background-color: #f7f7f7;
}

.edit-review-one {
  right: 190px;
}

.edit-review-one-active {
  right: 190px;
}

.edit-review-two {
  right: 136px;
}

.edit-review-two-active {
  right: 146px;
}

.no-reviews {
  width: 100%;
  display: flex;
  flex-direction: row;
}
