.users-bookings-page {
  margin: 2% 10%;
  margin-bottom: 0;
  height: 100vh;
}

.users-bookings-h1 {
  font-weight: 600;
  font-size: 26px;
  margin: 40px 0;
  width: 92%;
}

.users-bookings-h2 {
  font-weight: 600;
  font-size: 18px;
}

.users-bookings-p1 {
  margin-top: 5%;
  width: 80%;
}

.users-bookings-p2 {
  margin-bottom: 5%;
  font-style: italic;
}

.booking-list-table {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 10%;
}

.booking-list-header {
  background-color: rgb(255, 255, 255);
  height: 60px;
  border-bottom: thin solid #b6b6b6;  border-radius: 20px;
}

.booking-list-th {
  font-size: 18px;
  font-weight: 600;
  width: 50%;
}

.no-bookings {
  padding-top: 20px;
}

.booking-list-body-row {
  text-align: center;
  height: 60px;
  border: none;
}

.booking-list-dig {
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
  /* width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center; */
}

.booking-list-dig:hover {
  color: #ff385c;
}

.booking-list-res {
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
}

.booking-list-res:hover {
  color: #ff385c;
}

.booking-list-book {
  font-size: 14px;
  margin-top: 40px;
}

.click-here {
  margin-left: .5%;
  text-decoration: none;
  color: #ff385c;
}
