.users-bookings-page {
  margin: 2% 10%;
  margin-bottom: 0;
  height: 100vh;
}

.users-bookings-h1 {
  font-weight: 600;
  font-size: 32px;
  margin: 40px 0;
  width: 92%;
}

.users-bookings-h2 {
  font-weight: 600;
  font-size: 18px;
}

.users-bookings-p1 {
  width: 100%;
  font-size: 16px;
  color: #222222;
}

.users-bookings-p2 {
  margin-top: 30px;
  font-style: italic;
  font-size: 14px;
  color: #717171;
}

.booking-list-table {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 10%;
}

.booking-list-header {
  background-color: rgb(255, 255, 255);
  height: 60px;
  border-bottom: thin solid #b6b6b6;  border-radius: 20px;
}

.booking-list-th {
  font-size: 18px;
  font-weight: 600;
  width: 50%;
}

.no-bookings-container {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(220, 220, 220);
  height: 300px;
  width: 100%;
  border-radius: 10px;
  margin: auto;
  justify-content: space-between;
  overflow: hidden;
}

.no-bookings-info-container {
  padding: 32px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.no-bookings-info-container1 {
  padding: 32px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pink-hand {
  width: 48px;
  height: 48px;
}

.booking-lg-img {
  background-image: url(https://airbodes-bucket.s3.us-west-1.amazonaws.com/A8DEF942-2840-428E-BC1D-6C50901E06C0.jpeg);
  width: 70%;
  background-size: cover;
}

.booking-lg-img1 {
  background-image: url(https://airbodes-bucket.s3.us-west-1.amazonaws.com/A8DEF942-2840-428E-BC1D-6C50901E06C0.jpeg);
  width: 60%;
  background-size: cover;
}

.no-bookings-p {
  padding: 0;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
  margin-bottom: 0;
}
.no-bookings-p2 {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
  color: #717171;
}

.no-bookings-info-container .login-btn-modal {
  margin: 0;
  width: 50%;
  font-size: 16px;
  padding: 8px;
  height: 48px;
}

.booking-list-body-row {
  text-align: center;
  height: 60px;
  border: none;
}


.booking-list-dig {
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
  /* width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center; */
}

.booking-list-dig:hover {
  color: #ff385c;
}

.booking-list-res {
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
}

.booking-list-res:hover {
  color: #ff385c;
}

.booking-list-book {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 2%;
  width: 98%;
  font-size: 12px;
}
.no-bookings-link-home  {
  color: #222222;
}

.click-here {
  margin-left: .5%;
  text-decoration: none;
  color: #ff385c;
}

@media only screen and (max-width: 1300px) {
  .users-bookings-p1 {
    margin-top: 0;
  }
  .users-bookings-p2 {
    margin: 0;
  }
}
