.new-dig-page {
  margin: 2% 10%;
  margin-bottom: 0;
  min-height: 100vh;
}

.new-dig-h1 {
  font-weight: 600;
  font-size: 32px;
  margin: 40px 0;
  width: 92%;
}

.new-dig-form {
  margin-bottom: 8%;
  text-align: center;
  background-color: #ffffff;
  border-radius: 6px !important;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 16px 0px !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.location-container,
.title-container,
.amenities-container {
  display: flex;
  flex-direction: row;
  width: 96%;
  margin: auto;
  justify-content: space-between;
}
.title-container {
  justify-content: flex-start;
}
.input-containers {
  border: 1px solid rgb(182, 182, 182);
  width: 94%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 8px;
  margin: 30px 4%;
}
.new-dig-label {
  margin: 10px 0;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="file"] {
  display: none;
}

.new-dig-img-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 92%;
  margin: auto;
  gap: 20px;
  margin-bottom: 20px;
}

.new-dig-label-imgs {
  background-color: white;
  padding: 8px 0;
  width: 20%;
  border-radius: 8px;
  border: 1px solid rgb(27, 27, 27);
  margin: 10px 0;
  height: 26px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.new-dig-label-imgs:hover{
  background-color: #f7f7f7;
}

.fa-solid.fa-images {
  color: #222222;
  margin-right: 5px;
}
.upload-p {
  color: #717171;
  font-size: 14px;
}

.new-dig-label-textarea {
  margin: 10px 0;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-dig-input-textarea {
  width: 100%;
  font-size: 16px;
  margin: 0;
}
.new-dig-input-textarea:focus {
  outline: none;
  border: transparent;
}

.new-dig-label-pets {
  overflow: hidden;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 90, 95);
  color: white;
  gap: 1%;
  padding: 2px 0;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;  color: white;
  width: 100%;
  border: .2px solid rgb(182, 182, 182);
  margin: 20px 0;
  height: 26px;
  cursor: pointer;
}
.login-btn-modal {
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;  color: white;
  padding: 8px;
  width: 92%;
  border-radius: 8px;
  border: 1px solid rgb(182, 182, 182);
  margin: 20px 4%;
  height: 44px;
  cursor: pointer;
}

.login-btn-modal:hover {
  background: linear-gradient(to left, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;  color: white;
}

.new-dig-input-pets {
  border-radius: 20px;
  padding: 6px;
  margin-left: 10px;
  font-size: 18px;
  border: 1px solid #484848;
}

/* .new-dig-input-pet:focus {
  outline: none;
  border: 2px solid #FF5A5F;
} */

.btn-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
}

.new-dig-submit-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;  color: white;
  padding: 8px;
  width: 20%;
  border-radius: 8px;
  border: 1px solid rgb(182, 182, 182);
  margin: 20px 4%;
  height: 44px;
  cursor: pointer;
  font-size: 16px;
}

.new-dig-submit-btn:hover {
  background: linear-gradient(to left, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;  color: white;
}

.new-dig-cancel-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 8px;
  width: 20%;
  border-radius: 8px;
  border: 1px solid rgb(27, 27, 27);
  margin: 20px 4%;
  height: 44px;
  cursor: pointer;
  font-size: 16px;
}

.new-dig-cancel-btn:hover {
  background-color: #f7f7f7;
}
