.footer {
  height: 380px;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  background-color: #f7f7f7 !important;
  border-top: 1px solid rgb(221, 221, 221);
  width: 100%;
  padding-top: 16px;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 14px;
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-git {
  text-decoration: none;
  color: grey;
  font-size: 20px;
}

.footer-name {
  font-size: 20px;
  margin-top: 0;
}

.footer-linkedin {
  text-decoration: none;
  color: grey;
  font-size: 20px;
}

.about-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
}

.footer-thanks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(228, 228, 228);

}

.footer-title {
  color: rgb(34, 34, 34);
  font-weight: 600;
}

.footer-profile-section {
  display: flex;
  flex-direction: column;
}

.footer-welcome-section {
  color: hsl(0, 0%, 13%);
}

.footer-links {
  color: rgb(70, 70, 70);
  text-decoration: none;
  height: 40px;
}

.footer-links:hover {
  text-decoration: underline;
}

.footer-welcome-section .nav-demouser {
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer-welcome-section .login-btn-div .login-btn,
.footer-welcome-section .nav-demouser,
.footer-welcome-section .nav-signup {
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  height: 40px;
}

.footer-welcome-section .login-btn-div .login-btn:hover,
.footer-welcome-section .nav-demouser:hover,
.footer-welcome-section .nav-signup:hover {
  text-decoration: underline;
}

.social-img {
  width: 30px;
  margin-left: 10px;
}

@media only screen and (max-width: 1031px) {
  .footer-welcome-section .login-btn-div .login-btn,
  .footer-welcome-section .nav-demouser,
  .footer-welcome-section .nav-signup {
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    height: 40px;
    width: 100%;
  }
}

@media only screen and (max-width: 567px) {
  .footer {
    height: 100px;
    background-color: #ffffff !important;
    border-top: none;
  }
  .footer-welcome-section .login-btn-div .login-btn,
  .footer-welcome-section .nav-demouser,
  .footer-welcome-section .nav-signup {
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    height: 40px;
    width: 100%;
  }
  .footer-inner {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .about-footer:last-child,
  .about-footer:first-child {
    display: none;
  }
  .middle-child {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    font-weight: 700;
  }
  .middle-child-p {
    display: none;
  }
}

@media only screen and (max-width: 487px) {
  .footer-thanks {
    width: 80%;
    margin: auto;
    justify-content: center;
  }
  .footer-thanks-p {
    display: none;
  }
}
