.profile-dropdown {
  list-style: none;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 12px;
  border: 1px solid rgba(243, 243, 243, 0.706);
  position: absolute;
  top: 50px;
  right: 0px;
  box-shadow: 0 2px 16px rgb(0 0 0 / 12%);
  padding: 8px 0;
  width: 220px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 14px;
}

.profile-li {
  color: rgb(34, 34, 34);
}

.profile-li-name {
  border-bottom-width: 100%;
  padding-bottom: 4px;
  text-align: center;
}

.profile-link {
  text-decoration: none;
  color: rgb(34, 34, 34);
  height: 40px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-link:hover {
  background-color: #ececec;
}

#logout-btn {
  background-color: white;
  padding: 0px 10px;
  width: 100%;
  border: none;
  margin: auto;
  cursor: pointer;
}

#logout-btn:hover {
  background-color: #ececec;
}

.profile-logout-btn:hover {

}
