.login-modal {
  height: 100%;
}

.login-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: thin solid #cbcbcb;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.login-title-p {
  font-size: 16px;
  font-weight: 600;
}

.login-h1 {
  font-size: 22px;
  color: #222222;
  font-weight: 400;
  margin: 20px;
  margin-top: 36px;
}

.cancel {
  position: relative;
  z-index: 11;
  right: 196px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  margin: 0;
  cursor: pointer;
  background-image: url(https://airbodes-bucket.s3.us-west-1.amazonaws.com/2A646652-D9CF-4A68-91BF-5F790D78A93C.png);
  background-size: cover;
}

.cancel:hover {
  background-image: url(https://airbodes-bucket.s3.us-west-1.amazonaws.com/47B525C5-6A06-4F37-B4E6-680E01D2C128.png);
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  margin-top: 20px;
}

.login-container {
  border: 1px solid rgb(182, 182, 182);
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 8px;
  height: 120px;
}

.login-divs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 54px;
  border-top: 1px solid rgb(182, 182, 182);
}

.login-divs:first-child {
  border-top: 1px solid transparent;
}

.login-label-one,
.login-label-two,
.login-label-three,
.login-label-four,
.login-label-five,
.login-label-six,
.login-label-seven,
.login-label-eight,
.login-label-nine{
  right: 186px;
  top: 20px;
  width: fit-content;
  position: relative;
  font-size: 14px;
  z-index: 9;
  height: 40px;
  cursor: pointer;
  padding: 4px;
  color: #7c7c7c;
}

.login-label-two {
  right: 213px;
}

.login-label-three {
  right: 225px;
}
.login-label-four {
  right: 210px;
}
.login-label-five {
  right: 211px;
}
.login-label-six {
  right: 185px;
}
.login-label-seven {
  right: 220px
}
.login-label-eight {
  top: 66px;
  right: 172px;
}
.login-label-nine {
  top: 20px;
  right: 210px;
}

.login-label-active-one,
.login-label-active-two,
.login-label-active-three,
.login-label-active-four,
.login-label-active-five,
.login-label-active-six,
.login-label-active-seven,
.login-label-active-eight,
.login-label-active-nine{
  background-color: white;
  top: -12px;
  font-size: 12px;
  color: #7c7c7c;
}

.login-label-active-two {
  right: 210px;
}
.login-label-active-six {
  right: 190px;
}
.login-label-active-eight {
  right: 175px;
}

.login-input {
  border-radius: 20px;
  width: 200px;
  font-size: 16px;
  border: 1px solid transparent;
  width: 92%;
  padding: 2% 4%;
  padding-bottom: 0;
  position: relative;
  top: -10px;
  background: transparent;
}

.login-input:focus {
  outline: none;
  border: 2px solid transparent;
}

.login-btn-modal {
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;  color: white;
  padding: 8px;
  width: 92%;
  border-radius: 8px;
  border: 1px solid rgb(182, 182, 182);
  margin: 20px 4%;
  height: 44px;
  cursor: pointer;
}

.login-btn-modal:hover {
  background: linear-gradient(to left, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;  color: white;
}

.login-form-errors {
  height: fit-content;
  margin: 0;
  margin-top: 10px;
}

.login-form-errors-li {
  list-style: none;
  color: red;
  font-style: italic;
  font-size: 14px;
}
.or {
  font-size: 12px;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  top: 7px;
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
}
.line-thru-or {
  border-bottom: 1px solid rgb(202, 202, 202);
  margin: 0;
}

.below-btns-div {
  width: 92%;
  margin: auto 4%;
  margin-top: 20px;
}

.below-btns-div .nav-signup {
  text-decoration: none;
  color: rgb(67, 67, 67);
  font-size: 14px;
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 44px;
  border-radius: 0;
  border: none;
}

.below-btns-div .nav-signup-btn {
  background-color: white;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgb(27, 27, 27);
  height: 44px;
  cursor: pointer;
}

.below-btns-div .nav-signup-btn:hover {
  border: 1px solid rgb(27, 27, 27);
}

.login-instead {
  margin-top: 40px !important;
}

.below-btns {
  background-color: white;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgb(27, 27, 27);
  margin: 10px 0;
  height: 44px;
  cursor: pointer;
}

.below-btns:hover {
  background-color: #f7f7f7;
}

.below-btns-links {
  text-decoration: none;
  color: #222222;
  display: block;
  padding: 8px;
  width: 490.55px !important;
}

.email-p {
  font-size: 11px;
  width: 90%;
  margin: 8px 5%;
}

/* edit review */
.edit-container .login-form {
  margin-top: 80px;
}
