.modal {
  display: block !important;
  padding: 20px;
}

.modal-2 {
  overflow-y: initial !important
}

.modal-3{
  height: 380px;
  overflow-y: auto;
}

.login-h1 {
  font-weight: 600;
  border-bottom: thin solid #484848;
  border-width: 2px;
  padding-bottom: 10px;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
}

.login-label {
  margin: 10px 0;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-input {
  border-radius: 20px;
  padding: 6px;
  margin-left: 10px;
  width: 200px;
  font-size: 16px;
  border: 1px solid #484848;
  padding-left: 20px;
}

.login-input:focus {
  outline: none;
  border: 2px solid #FF5A5F;
}

.login-btn-modal {
  background-color: white;
  padding: 8px;
  width: 80px;
  border-radius: 30px;
  border: thin solid 	#484848;
  margin: 20px auto;
  margin-left: 30px;
}

.login-btn-modal:hover {
  box-shadow: 1px 1px 4px #a1a1a1;
}
