.modal {
  display: block !important;
  padding: 0 !important;
}

.modal-2 {
  overflow-y: initial !important;
}

.modal-3{
  height: 380px;
  overflow-y: auto;
}

.login-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: thin solid #cbcbcb;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.login-h1 {
  font-size: 22px;
  color: #222222;
  font-weight: 400;
  margin: 20px;
  margin-top: 36px;
}

.cancel {
  position: absolute;
  z-index: 11;
  padding: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cancel:hover {
  background-color: #f7f7f7;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  margin-top: 20px;
}

.login-container {
  border: 1px solid rgb(182, 182, 182);
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 10px;
}

.login-divs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 54px;
}

.login-divs:first-child {
  border-bottom: 1px solid rgb(182, 182, 182);
  ;
}

.login-label {
  right: 146px;
  top: 2px;
  width: 180px;
  position: relative;
  font-size: 13px;
  z-index: 9;
  height: 40px;
}

.login-input {
  border-radius: 20px;
  width: 200px;
  font-size: 16px;
  border: 1px solid transparent;
  width: 96%;
  margin-left: 3%;
  margin-right: 1%;
  height: 40px;
  position: relative;
}

.login-input:focus {
  outline: none;
  border: 2px solid transparent;
}

.login-btn-modal {
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;  color: white;
  padding: 8px;
  width: 92%;
  border-radius: 10px;
  border: 1px solid rgb(182, 182, 182);
  margin: 20px 4%;
  height: 44px;
}

.login-btn-modal:hover {
  background: linear-gradient(to left, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;  color: white;
}

.login-form-errors {
  height: 20px;
  margin: 0;
  margin-top: 10px;
}

.login-form-errors-li {
  list-style: none;
  color: red;
}
